{% block component_line_item_delivery_date %}
    {% set deliveryPosition = null %}

    {% if page.cart.deliveries.count > 0 %}
        {% set delivery = page.cart.deliveries.first %}

        {% set deliveryPosition = delivery.positions.get(lineItem.id) %}
    {% endif %}

    {% if deliveryPosition and deliveryPosition.deliveryDate and lineItem.payload.stock >= deliveryPosition.quantity%}
        {% block component_line_item_delivery_date_inner %}
            <div class="line-item-delivery-date">
                {{ 'checkout.lineItemDeliveryDate'|trans({
                    '%earliest%': deliveryPosition.deliveryDate.earliest|format_date('short', locale=app.request.locale),
                    '%latest%': deliveryPosition.deliveryDate.latest|format_date('short', locale=app.request.locale)
                })|sw_sanitize }}
            </div>
        {% endblock %}
    {% elseif deliveryPosition and lineItem.payload.customFields.product_attributes_delivery_date and lineItem.payload.stock < deliveryPosition.quantity %}
        {% block component_line_item_delivery_date_comingSoon %}
            <div class="line-item-delivery-comingSoon">
                Wieder lieferbar ab:
                {{ lineItem.payload.customFields.product_attributes_delivery_date | format_datetime('short', 'none', locale: 'de') }}
            </div>
        {% endblock %}
    {% else %}
        {% if deliveryPosition %}
            {% block component_line_item_delivery_date_notinStock %}
                <div class="line-item-delivery-notInStock">
                    nicht lagernd
                </div>
            {% endblock %}
            {% endif %}
    {% endif %}

{% endblock %}
