<sw-page>
        <template #search-bar>
                <sw-search-bar>
                </sw-search-bar>
        </template>
        <template #smart-bar-header>
                <h2 v-if="tagId">Discount für {{ tagName }}</h2>
                <h2 v-else>Hersteller Discount </h2>
        </template>
        <template #smart-bar-actions>
                <sw-button
                        variant="primary"
                        @click="onSave">
                        Save
                </sw-button>
        </template>
        <template #content>
            <mt-card small>
                <mt-select label="Für wen ist der Discount?" :options="discountTargetList()" v-model="discountTarget" small required></mt-select>
                <div v-if="discountTarget=='allCustomers'">allCustomers</div>
                <div v-if="discountTarget=='tag'">
                    <sw-entity-single-select
                            v-model:value="tagId"
                            entity="tag"
                            {#                        labelCallback="tagLabel"#}
                            placeholder="Hier den gewünschten Tag auswählen"
                            show-clearable-button

                    />
                </div>
                <div v-if="discountTarget=='customer'">
                    <sw-entity-single-select
                            v-model:value="customerId"
                            entity="customer"
                            :criteria="customerCriteria"
                            placeholder="Hier den gewünschten Kunden auswählen"
                            :labelProperty="customerLabelProperty()"
                            show-clearable-button
                    />
                </div>
            </mt-card>
            <mt-card
                    v-if="showInputFields"
                   small
                    :title="$tc('adminTest.create.title')"
            >

                    <sw-entity-single-select
                            v-model:value="discount.manufacturerId"
                            entity="product_manufacturer"
                            :placeholder="$tc('sw-product.basicForm.placeholderManufacturer')"
                            show-clearable-button
                            :label="$tc('adminTest.create.manufacturerLabel')"
                    />
                    <mt-number-field
                            :label="$tc('adminTest.create.discountLabel')"
                            v-model="discount.discount"
                            min="0"
                            max="2"
                            required
                            digits="3"
                    />
                    <mt-switch v-model="alternativePrice" label="alternativer VK" />
                    <sw-entity-single-select
                            v-if="alternativePrice"
                            v-model:value="priceReferenceId"
                            entity="custom_field"
                            :criteria = "customFieldCriteria"
                            placeholder="auf welchen Preis soll der Rabatt angewendet werden?"
                            show-clearable-button
                            :label="$tc('adminTest.create.basePriceLabel')"
                            labelProperty="config['label']['en-GB']"
                            ref="customFieldSelect"
                    />
                {{ priceReference }}
                    <mt-textarea
                            label="Kommentar"
                            v-model="discount.comment"
                    />
            </mt-card>
        </template>
</sw-page>