<sw-page>
        <template #search-bar>
                <sw-search-bar>
                </sw-search-bar>
        </template>
        <template #smart-bar-header>
                <h2>Lorem ipsum page</h2>
        </template>
        <template #smart-bar-actions>
                <sw-button
                        variant="primary"
                        @click="$router.push({ name: 'admintest.pricetest.create' })">
                        Add
                </sw-button>
        </template>



        <template #sidebar >
                <mt-tabs  :items="tabItems" vertical="True">
                </mt-tabs>
        </template>
        <template #content>
                        <sw-entity-listing
                        :items="result"
                        :columns="columns"
                        :repository="discountRepository"
                >
<!--                        @selection-change="updateSelection"-->>

                </sw-entity-listing>


        </template>

</sw-page>
<template>
        lololol
</template>








