<sw-page>

        <template #search-bar>
                <sw-search-bar>
                </sw-search-bar>
        </template>
        <template #smart-bar-header>
                <h2 v-if="tagName">{{ tagName }}</h2>
                <h2 v-else>Alle Kunden</h2>

        </template>
        <template #smart-bar-actions>
                <sw-button
                        v-if="tagId"
                        variant="primary"
                        @click="$router.push({ name: 'admintest.discount.tags.createTag', params: { tagId: tagId} })">
                        Add
                </sw-button>
                <sw-button
                        v-if="!tagId"
                        variant="primary"
                        @click="$router.push({ name: 'admintest.discount.tags.create', params: { tagId: tagId} })">
                        Add
                </sw-button>
        </template>



<!--        <template #sidebar >



                <mt-tabs  :items="tabItems" vertical="True">
                </mt-tabs>
        </template>-->

        <template #content>
            <div style="margin:10px">
            <sw-entity-single-select
                    v-model:value="tagId"
                    entity="tag"
                    labelCallback="tagLabel"
                    placeholder="Hier den gewünschten Tag eingeben"
                    show-clearable-button

            />

                <p>ladida: {{ tagLabel }}</p>

<!--                <sw-card title="Custom fields">
                    <sw-custom-field-set-renderer
                            :entity="discountRepository"
                            :sets="sets"
                            >
                    </sw-custom-field-set-renderer>
                </sw-card>-->

                <mt-tabs
                        @new-item-active="handleItemActive"
                        :items="tabItems"
                        positionIdentifier="discount-tabs"
                        defaultItem="manufacturerDiscounts"
                        >
                </mt-tabs>

            <div v-if="activeTab === 'manufacturerDiscounts'">
                <sw-button
                        v-if="tagId"
                        variant="primary"
                        @click="$router.push({ name: 'admintest.discount.tags.createTag', params: { tagId: tagId} })">
                    Add
                </sw-button>
                <sw-button
                        v-if="!tagId"
                        variant="primary"
                        @click="$router.push({ name: 'admintest.discount.tags.create', params: { tagId: tagId} })">
                    Add
                </sw-button>
                <sw-entity-listing
                        v-if="activeTab === 'manufacturerDiscounts'"
                        :items="result"
                        :columns="columns"
                        :repository="discountRepository" />
            </div>
            <div v-if="activeTab === 'productDiscounts'">
                <sw-button
                        v-if="tagId"
                        variant="primary"
                        @click="$router.push({ name: 'admintest.discount.tags.createProductDiscountWithTag', params: { tagId: tagId} })">
                    Add
                </sw-button>
                <sw-button
                        v-if="!tagId"
                        variant="primary"
                        @click="$router.push({ name: 'admintest.discount.tags.createProductDiscount', params: { tagId: tagId} })">
                    AddnoDiscount
                </sw-button>
                <sw-entity-listing
                        v-if="activeTab === 'productDiscounts'"
                        :items="productDiscounts"
                        :columns="productColumns"
                        :repository="productDiscountRepository"
                >
                        <!--                        @selection-change="updateSelection"-->>
                </sw-entity-listing>
                </div>
            </div>
        </template>

</sw-page>









